<!--
<footer>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illum fugit dignissimos non maiores dolorem ipsa vel, impedit, nostrum accusantium perspiciatis provident expedita iusto beatae rem. Voluptate illum odit assumenda.</p>
    <mat-divider></mat-divider>
    <p>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
        Phone: +36/80-955-63-11
    </p>
    <p>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
        Email: lorem@ipsum.dolor
    </p>
</footer>
-->
<footer>
    <div class="footer-content">
        <h3>Féléves Feladat</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, quasi esse tenetur eveniet sint ea, nostrum ex doloremque distinctio nesciunt architecto sit! Voluptatum amet porro, numquam aliquid dolores saepe velit?</p>
        <div class="footer-menu">
            <ul class="f-menu">
               <li><a href="#">Home</a></li>
               <li><a href="#">About</a></li>
               <li><a href="#">Contact</a></li>
               <li><a href="#">Blog</a></li>
            </ul>
           </div>
    </div>
    
    <div class="footer-bottom">
        <p>&copy;2023 - Féléves Feladat</p>
    </div>

</footer>